* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
textarea {
	font-size: 1rem;
	text-align: center;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main {
	height: 90vh;
	width: 80vw;
	background-color: aquamarine;
	display: flex;
	flex-direction: column;
	border: inset rgb(190, 189, 189);
	border-top: none;
	border-left: groove;
}
.header {
	width: 100%;
	height: 9%;
	background-color: #4d72be;
}
.bod {
	width: 100%;
	height: 91%;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
}
.sidebar {
	width: 14%;
	height: 100%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	border-right: 3px solid rgb(124, 124, 124);
}
.btns {
	width: 95%;
	height: 5%;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 3px;
	margin-left: 38px;
	gap: 2px;
}
.search {
	width: 5rem;
	height: 2rem;
	background-color: #4472c4;
	color: #ffffff;
	border: none;
	font-size: 0.75rem;
	border-radius: 5px;
}

#inp {
	height: 2rem;
}
.txt {
	height: 1.25rem;
	border: 1px solid black;
	border-radius: 2px;
}
.box {
	margin-left: 18px;
	width: 79%;
	height: 80%;
	background-color: #ffffff;
	border: 1px;
	display: flex;
	flex-direction: column;
}
.table-sec {
	width: 100%;
	height: 80%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
}

table,
tr,
td,
th {
	width: 100%;
	height: 2rem;
	table-layout: fixed;
	text-align: center;
	border: 1px #000 solid;
	border-collapse: collapse;
}
.tr1 {
	background-color: #4472c4;
	height: 2rem;
}
.td1 {
	color: #ffffff;
	font-weight: 400;
}
.td2 {
	height: 2.2rem;
}
.td2-1 {
	background-color: #f2f5fc;
	height: 2.2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.inpt {
	height: 100%;
	width: 100%;
}
.header {
	color: #ffffff;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sidetbl {
	width: 100%;
	height: 60%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
	gap: 2px;
}
.city-table {
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	align-items: center;
}
.xs,
.xr {
	border: 1px solid rgb(168, 168, 168);
	height: 2rem;
	padding: 4px;
	width: 100%;
}
.xs {
	background-color: #4472c4;
	color: #ffffff;
}
.wtrbtn {
	width: 7.1rem;
	background-color: #4472c4;
	height: 2rem;
	color: #ffffff;
	border-radius: 3px;
	border: none;
}
.bg {
	background-color: rgb(255, 197, 37);
}
.jb {
	border-left: none;
	border-top: none;
	border-right: none;
	color: #3981fd;
	border-color: #4488ff;
	background: none;
}
.pg {
	border: 3px solid green;
}
#nodata {
	margin-top: 7.5rem;
	font-style: normal;
	font-size: 1.5rem;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.kg {
	display: none;
}